[Desktop Entry]
Name=New_wave
Name[ru]=Новая волна

X-KDE-PluginInfo-Author=KDE VDG (Remix by World-fly)
X-KDE-PluginInfo-Email=World-fly@yandex.ru
X-KDE-PluginInfo-Name=New_wave
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
