[KSplash Theme: Modern-KDE-Splash-1.0.7]
Name = Modern KDE Splash
Description = Animated KDE logo on custom background
Version = 1.0.7
Author = Giovanni Hurtado <xiorone at gmail.com>
Homepage = https://www.facebook.com/gio.hurtado

# Theme behaviour settings.
Engine = KSplashQML
