[Desktop Entry]
Comment=KFlat-Win10
Name=KFlat-Win8
X-KDE-PluginInfo-Author=Ehsan Tork
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=KDE 4.x
X-KDE-PluginInfo-Email=anton.sterhov@rosalab.ru
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=KElementary
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=linuxreview.ir