[Desktop Entry]
Icon=image-png
Name=Cyan mountains.png
Type=Link
URL[$e]=file://$HOME/Downloads/Flat%20Zephyr%20-%20KDE%20Plasma%205%20look/Cyan%20mountains.png
X-KDE-LastOpenedWith=plasma-desktop
