[Desktop Entry]
Icon=text-plain
Name=Flat_Zephyr.qtcurve
Type=Link
URL[$e]=file://$HOME/Downloads/Flat%20Zephyr%20-%20KDE%20Plasma%205%20look/QtCurve/Flat_Zephyr.qtcurve
X-KDE-LastOpenedWith=systemsettings
