[Desktop Entry]
Icon=text-plain
Name=FlatZephyr.colors
Type=Link
URL[$e]=file://$HOME/Downloads/Flat%20Zephyr%20-%20KDE%20Plasma%205%20look/Color%20Scheme/FlatZephyr.colors
X-KDE-LastOpenedWith=systemsettings
