[Desktop Entry]
Icon=application-x-compressed-tar
Name=Flat Zephyr - KDE Plasma 5 look.tar.gz
Type=Link
URL[$e]=tar:/home/kyle/Downloads/Flat%20Zephyr%20-%20KDE%20Plasma%205%20look.tar.gz
X-KDE-LastOpenedWith=
