[Desktop Entry]
Icon=text-plain
Name=HOW TO INSTALL
Type=Link
URL[$e]=file://$HOME/Downloads/Flat%20Zephyr%20-%20KDE%20Plasma%205%20look/HOW%20TO%20INSTALL
X-KDE-LastOpenedWith=kate
