[Desktop Entry]
Icon=application-x-theme
Name=index.theme
Type=Link
URL[$e]=file://$HOME/Downloads/Flat%20Zephyr%20-%20KDE%20Plasma%205%20look/Cursors/Breeze/index.theme
X-KDE-LastOpenedWith=systemsettings
