[Desktop Entry]
Icon=text-html
Name=show.php
Type=Link
URL[$e]=https://opendesktop.org/content/show.php?content=125471
X-KDE-LastOpenedWith=google-chrome-beta
